<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <context-param>
        <description>Location to store uploaded file</description>
        <param-name>file-upload</param-name>
        <param-value>
            E:\Arduino\
        </param-value>
    </context-param>
    <context-param>
        <param-name>home-url</param-name>
        <param-value>http://www.24h.com.vn/upload/rss/trangchu24h.rss</param-value>
    </context-param>
    <context-param>
        <param-name>bongda-url</param-name>
        <param-value>http://www.24h.com.vn/upload/rss/bongda.rss</param-value>
    </context-param>
    <context-param>
        <param-name>anninhhinhsu-url</param-name>
        <param-value>http://www.24h.com.vn/upload/rss/anninhhinhsu.rss</param-value>
    </context-param>
    <context-param>
        <param-name>thoitranghitech-url</param-name>
        <param-value>http://www.24h.com.vn/upload/rss/thoitranghitech.rss</param-value>
    </context-param>
    <context-param>
        <param-name>exrate-url</param-name>
        <param-value>https://www.vietcombank.com.vn/exchangerates/ExrateXML.aspx</param-value>
    </context-param>
    <servlet>
        <servlet-name>UploadFile</servlet-name>
        <servlet-class>com.huydat.servlet.UploadFile</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Index</servlet-name>
        <servlet-class>com.huydat.servlet.Index</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>NewsDetails</servlet-name>
        <servlet-class>com.huydat.servlet.NewsDetails</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ExchangeRate</servlet-name>
        <servlet-class>com.huydat.servlet.ExchangeRate</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>UploadFile</servlet-name>
        <url-pattern>/UploadFile</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Index</servlet-name>
        <url-pattern>/Index</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NewsDetails</servlet-name>
        <url-pattern>/NewsDetails</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ExchangeRate</servlet-name>
        <url-pattern>/ExchangeRate</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>
            Index
        </welcome-file>
    </welcome-file-list>
</web-app>
